include LICENSE.txt
include README.rst
include HISTORY.rst
recursive-include govuk_forms *.po
recursive-include govuk_forms *.mo
recursive-include govuk_forms *.rst
recursive-include govuk_forms/static *.png
recursive-include govuk_forms/static-src *.scss
recursive-include govuk_forms/templates *.html
