<div class="govuk-checkboxes" {% if conditionally_revealed_module %}data-module="{{ conditionally_revealed_module }}"{% endif %}>
    <div class="govuk-checkboxes__item">
        {% include 'django/forms/widgets/input.html' %}
        <label id="{{ widget.attrs.id }}-label" for="{{ widget.attrs.id }}" class="govuk-label govuk-checkboxes__label">{{ widget.label }}</label>
    </div>
    {% if conditionally_revealed %}
        <div id="{{ conditionally_revealed.bound_field.auto_id }}-conditional" class="{{ conditional_panel_classes }}">
            {{ conditionally_revealed.html }}
        </div>
    {% endif %}
</div>
